{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-dark" type="submit">Log In</button><br>
</form><br>
<h6 class="mb-5 small text-center text-muted">
    As the app is a demo and the database is volatile (restarts every time the server starts). You can use these
    credentials to test:<br>Username: <b>demo</b> <br>Password: <b>demo</b>
    <br>But feel free to create your own credentials if you wish, database just wont store them.
</h6>
{% endblock %}