{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-dark" type="submit">Log In</button><br>
</form><br>
As the app is a demo and the database is volatile (restarts every time the server starts) you can use these credentials
to test:<br>
Username: <b>demo</b> password: <b>demo</b> <br>But feel free to create your own credentials if you wish, database just
wont store them.
{% endblock %}