{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<form action="/quote" method="post">
    <div class="mb-3">
        <input autocomplete="öff" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="stock symbol"
            type="text">
    </div class="mb-3">
    <button class="btn btn-dark" type="submit">Get quote</button>
</form><br>
Some of the popular company symbols are: <br> "TSLA" (Tesla), "MSFT" (Microsoft), "AMZN" (Amazon), NFLX (Netflix),
"GOOGL" (Google), META (Meta), etc.<br>
<br><a href="https://github.com/FelixOakz/stockXchange/blob/main/nasdaq_companies.csv">List of nasdaq_companies</a>
{% endblock %}